{% extends "base.html" %}
{% block title %}Add product | {% endblock %}

{% block content %}
    <h1 class="font-weight-normal h1-b-v">Add product</h1>{% csrf_token %}

    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-a-p">
            {{ form.as_p }}
        </div>
       
        {% if error %}
            <p class="loginerror">{{ error }}</p>
        {% endif %}     
            
        <button class="btn-a-p btn-a" type="submit">Submit</button>
    </form>
{% endblock content %}