{% extends "base.html" %}
{% block title %}Welcome | {% endblock %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <form method="POST" class="form-signin">{% csrf_token %}
        
            <h1 class="font-weight-normal h1login">Login</h1>{% csrf_token %}

            {{form.as_p}}
        
            <div class="checkbox mb-3">
                <label>
                <input value="remember-me" type="checkbox"> Remember me
                </label>
            </div>

            {% if error %}
                <p class="loginerror">{{ error }}</p>
            {% endif %}     
                
            <button class="btn btn-a" type="submit">Login</button>
        </form>

        <p class="msgregister" >Need an account? Please <a href="{% url 'register' %}">
        Register</a></p>

    {% else %}
        <div class="heading">
            Hello {{ user }}
        </div>
        <p class="msglogout">You're already logged in. Would you like to
        <a href="{% url 'logout' %}">logout</a>?</p>
    {% endif %}
{% endblock content %}