{% extends "base.html" %}

{% block title %}{{ product.title }}| {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="productview">
            {% if product.image %}
                <h1>{{ product.title }}</h1>
                <figure class="image">
                    <img src="{{ product.get_thumbnail }}">
                </figure>
            {% endif %}
        </div>
        
        <div class="box">
            <table class="table-v-a center-t"> 
                <thead class="table-fonth">
                    <tr class="tr-v-a tr-v-a-h">
                        <th class="th-td-v-a th-color">Grocery Store</th>
                        <th class="th-td-v-a th-color">Price</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for vendor,price in list_final.items %}
                        <tr class="tr-v-a tr-v-a-h table-fontr">
                            <td class="th-td-v-a"><a href="{% url 'product' product.category.slug product.slug %}" 
                                style="text-decoration: none;">{{ vendor }}</a></td>
                            <td class="th-td-v-a">${{ price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>
            <br>
        </div>

        <hr class="rounded">

        {% if other_products %}
            <div class="column is-12">
                <h2 class="h1 font-weight-normal form-register-h2">Other products</h2>
            </div>

            {% for product in other_products %}
                {% include 'list_item.html' %}
            {% endfor %}            
        {% endif %}

    {% else %}
        <div class="heading">
            Hello 
        </div>
        <p class="msglogout">You're not logged in. Would you like to
        <a href="{% url 'login' %}">login</a>?</p>
    {% endif %}
{% endblock %}